@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

@media (min-width: 1024px) {

  .cont{
    position: relative;
    border: solid rgb(168, 22, 22);
    width: 100%;
    height: 1034px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;

    background: linear-gradient(180deg, #291E5B 0%, rgba(108, 92, 182, 0) 0.01%, rgba(43, 31, 93, 0.979167) 100%);
  }
  .text{
    position: relative;
    width: 50%;
    height: 25%;
    left: 25%;
    top: 25%;
    border: solid rgb(0, 0, 0);
  }
  .text_word{
    
    position: absolute;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;

    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    font-size: 119.586px;
    line-height: 81%;

    /* or 97px */
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: lowercase;

    color: #3F3F3F;
  }

  .twit{
    position: absolute;
    width: 100%;
    height: auto;
    left: 32%;
    top: 80%;
  }
  .inst{
    position: absolute;
    width: 100%;
    height: auto;
    left: 39%;
    top: 80%;
  }
  .brib{
    position: absolute;
    width: 100%;
    height: auto;
    left: 46%;
    top: 80%;
  }
  .lin{
    position: absolute;
    width: 100%;
    height: auto;
    left: 53%;
    top: 80%;
  }
  .git{
    position: absolute;
    width: 100%;
    height: auto;
    left: 60%;
    top: 80%;
  }
  .dev{
    position: absolute;
    width: 100%;
    height: auto;
    left: 67%;
    top: 80%;
  }  
}
